Hello ,<br><br>

<p>You have subscribed for updates on Engineer with your email <%= @email %>. Please confirm your subscription by clicking <%= link_to "here" , @link %> or opening the below link </p><br />

<%= @link %>

<p>Regards</p>

<p>Team Engineer</p>
<p>www.engineer.org.in</p>